<div class="container">
    <div class="clothes-card">
        <span class="clothes-title">
            {{(clothes$ | async)?.title}} ({{(clothes$ | async)?.price}} $)
        </span>
        <div class="clothes-images">
            <ng-container *ngFor="let img of (clothes$ | async)?.images">
            <img src="{{img}}" alt="clothes">
            </ng-container>
        </div>
        <div class="clothes-params">
            <div class="clothes-size">
                <span class="clothes-params-title">Sizes: </span>
                <ng-container *ngFor="let size of (clothes$ | async)?.size">
                <span class="size">{{size}}   </span>
                </ng-container>
            </div>
            <div class="clothes-color">
                <span class="clothes-params-title">Colors: </span>
                <ng-container *ngFor="let color of (clothes$ | async)?.color">
                <span class="size">{{color}}   </span>
                </ng-container>
            </div>
        </div>
        <div class="clothes-description">
            <span class="clothes-params-title">Description: </span>
            <span class="clothes-description-text">{{(clothes$ | async)?.description}}</span>
        </div>
    </div>

    <button class="btn-back" (click)="btnBack()">Back</button>
</div>
